{% extends 'base.html' %}
{% block title %}auth{% endblock %}
{% load static %}
<body>
{% block content %}
<main>
    <section class="authentication">
      <div class="authentication__body">
        <form class="authentication__login"  method="POST">
          {% csrf_token %}
          <div class="authentication__login-img">
            <img src="{% static 'authentication/img/logo.png' %}" alt="logo" class="logo__img">
          </div>
          <div class="authentication__box">
            {{ login_form.login }}
            <label class="authentication__box-label">Username or e-mail</label>
          </div>
          <div class="authentication__box">
            {{ login_form.password }}
            <label class="authentication__box-label">password</label>
          </div>
          <a class="authentication__login-forgot" href="#">Forgot password?</a>
          <button class="authentication__button" type="submit">Log in</button>
          <div class="authentication__login-bottom">
            <p class="authentication__login-text">Don’t have an account?</p>
            <a class="authentication__login-register" href="#">Registration</a>
          </div>
        </form>

        <form class="authentication__password" action="">
          <div class="authentication__password-img">
            <img src='{% static "authentication/img/Castle.svg" %}' alt="Castle">
          </div>
          <div class="authentication__password-box authentication__box">
            <h5 class="authentication__box-title">Forgot password?</h5>
            <p class="authentication__box-subtitle">Enter your email to receive a reset link</p>
          </div>
          <div class="authentication__box">
            <input class="authentication__box-input" type="email" name="" required="" >
            <label class="authentication__box-label">Your e-mail</label>
          </div>
          <button class="authentication__button authentication__password-button" type="submit">Submit</button>
          <a class="authentication__password-back" href="#">Back to Log In</a>
        </form>
      </div>
    </section>
</main>
{% endblock %}
</body>
