<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load account %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/authentication.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/main.css' %}">
    <title>NEXXESS</title>
</head>
<body>
    {% if user.is_authenticated %}
        <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="/">
          <img src="{% static 'authentication/img/main/logo.png' %}" alt="logo">
        </a>
        <nav class="nav">
          <a class="nav__burger">
            <span class="nav__burger-line"></span>
          </a>
          <ul class="nav__list">
            <li class="nav__list-item">
              <a class="nav__item-link" href="/invoices">Invoices</a>
            </li>
            <li class="nav__list-item">
              <a class="nav__item-link" href="/support">Support</a>
            </li>
            <li class="nav__list-item">
              <a class="nav__item-link" href="/services">Services</a>
            </li>
          </ul>
        </nav>
        <div class="header__box">
          <img class="header__box-img" src="{% static 'authentication/img/main/user.svg' %}" alt="user">
          <p class="header__box-text">Hello, {{ user.username }}</p>
          <a class="header__box-link" href="{% url 'account_logout' %}">Log Out</a>
        </div>
      </div>
    </div>
  </header>
    {% endif %}

    {% block content %}
    {% endblock %}
    <script src="{% static 'authentication/js/main.js' %}"></script>
    <script src="{% static 'authentication/js/authentication.js' %}"></script>
    <script src="{% static 'authentication/js/test.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
