{% extends 'base.html' %}
{% block title %}Index{% endblock %}
<body>
{% block content %}
  <main class="main">
    <div class="page">
        <ul class="page__list">
          <li class="page__item">
            <a href='login' class="link">Сторінка аутентифікації</a>
            <a href='logout' class="link">Сторінка виходу</a>

          </li>

          <!-- <li class="page__item">
            <a href="catalog.html" class="page__link">Сторінка каталогу</a>
          </li> -->
        </ul>
    </div>
  </main>
{% endblock %}
</body>

</html>

