{% extends 'base.html' %}
{% block title %}Index{% endblock %}
<body>
{% block content %}
  <main class="main">

      <div class="page">
        <ul class="page__list">
          <li class="page__item">
            <a href='{% url "account_login" %}' class="page__link">Сторінка аутентифікації</li>
          <li class="page__item">
            <a href='{% url "account_logout" %}' class="page__link">Сторінка виходу</a>
          </li>
          <li class="page__item">
            <a href='admin/' class="page__link">Adminka</a>
          </li>
        </ul>
      </div>
    </main>
{% endblock %}
  </body>
