@import 'vars';
@import 'global';

//______CONTENT_____

.content {
  max-width: 875px;
  margin-left: 20px;
  width: 100%;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $bg-gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
    
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      padding: 20px 30px;
    }

    &-video {
      width: 100%;
      max-width: 590px;
    }

    &-text {
      margin-top: 20px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    &-text {
      margin: 20px 0 40px;
      max-width: 690px;
    }

    &-link {
      align-self: center;
      width: 100%;
      max-width: 315px;
      padding: 13px 0;
      text-align: center;
      background-color: $bg-purple;
      color: $fs-white;
      border: 2px solid transparent;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      transition: all .5s;
      &:hover {
        border-color: $border-purple;
        color: $fs-purple;
        background-color: transparent;
      }
    }
  }

}

.style--width {
  width: 135px;
  display: flex;
  justify-content: center;
}

.top__list--active {
  border: 1px solid $bg-purple;
  max-height: 20vh;
}


//________MEDIA________

@media(max-width:1100px) {
  .aside {
    max-width: 265px;
  }
}

@media(max-width:750px) {
  .main {
    padding-top: 190px;
    margin: 0 0 30px;
  }
  .content {
    margin: 0;
  }
}


@media(max-width:550px) {
  .content {
    gap: 40px;
    &__list {
      &-item {
        padding: 10px;
        font-size: 14px;
        line-height: 140%;
      }
    }
    &__body {
      font-size: 14px;
      line-height: 140%;
      &-link {
        margin-top: 10px;
        max-width: 155px;
      }
    } 
  }
}
