@import 'vars';
// @import 'global';


//______CONTENT_____

.content {
  max-width: 875px;
  margin-left: 20px;
  width: 100%;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-gray;
  }
  

  &__titles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    &-item {
      display: flex;
      align-items: center;
      width: 135px;
      justify-content: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-box {
      position: relative;
      width: 100%;
      max-width: 292px;
      display: inline-flex;
      height: 250px;
      padding: 20px;
      border: 1px solid $border-gray;
      border-radius: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      overflow: hidden;
      transition: all .5s;
      margin: 15px 20px 0px 0px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
        &:nth-child(2) {
          order: 3;
        }
        &:nth-child(3) {
          order: 4;
        }
        &:nth-child(4) {
          order: 5;
        }
        &:nth-child(5) {
          order: 1;
        }
        &:nth-child(6) {
          order: 6;
        }
    }

    &-link {
      height: 22px;
    }


    &-titles {
      margin-top: 5px;
      margin-right: 90px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-status {
      padding: 0px 25px;
      border: 1px solid $border-purple;
      border-radius: 2px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__descrip {
    &-title {
      font-size: 16px;
      line-height: 20px;
      margin: 20px 0;
    }
    
    &-text {
      font-size: 16px;
      line-height: 20px;
    }

    &-list {
      margin-left: 25px;
    }

    &-item {
      list-style: disc;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__pay {
    max-width: 120px;
    display: flex;
    margin: 20px auto 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 40px;
    background-color: $bg-purple;
    border: 2px solid transparent;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    color: $fs-white;
    transition: all 0.5s;
    &:hover {
      background-color: transparent;
      color: $fs-purple;
      border-color: $border-purple;
    }
  }
}


//______MEDIA_______

@media(max-width:1100px) {

  .content {
    &__titles {
      &-item {
        width: 105px;
        font-size: 16px;
        line-height: 130%;
        white-space: nowrap;
      }
    }

  }

}

@media(max-width:900px) {
  .aside {
    &__accordion {
      &-item {
        padding: 10px;
        gap: 2px;
      }
    }
  }

  .content {
    &__top {
      &-box {
        font-size: 16px;
        line-height: 130%;
      }
    }

    &__titles {
      &-item {
        width: 90px;
        font-size: 14px;
        line-height: 110%;
      }
    }

    &__body {
      flex-direction: column-reverse;
      align-items: center;
      &-item {
        font-size: 14px;
        line-height: 140%;
      }
      &-status {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

@media(max-width:750px) {
  .content {
    margin: 0;
    &__body {
      flex-direction: row;
      &-box {
        max-width: 248px;
      }
      &-titles {
        margin: 0 50px 0 0;
      }
    }
  }
}

@media(max-width:600px) {
  .content {
    &__body {
      flex-direction: column-reverse;
    }
  }
}

@media(max-width:550px) {
  .content {
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__top {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      &-box {
        margin-top: 10px;
      }
    }

    &__box {
      width: 100%;
    }

    &__body {
      margin-top: 10px;
        &-titles {
          display: flex;
          flex-direction: column;
        }
        &-btn {
          display: block;
          align-self: start;
        }
        
      &-box {
        max-width: 292px;
      }

      &-titles {
        margin: 0px 90px 0 0;
      }
      
      &-item  {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 140%;
      }

      &-status {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        border: 1px solid $border-purple;
        padding: 1px 7px;
        width: 70px;
      }

      &-money {
        color: $fs-purple;
      }
    }
  }
}
