@import 'vars';
@import 'global';

.main {
  margin: 30px 0 70px;
  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
}

//___________CONTENT________


.cabinet {
  margin: 0 auto;
  &__list {
    max-width: 450px;
    width: 100%;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  &__photo-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__photo-label {
    margin-right: 30px;
    cursor: pointer;
  }

  &__photo-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #726f6f;
    object-fit: cover;
  }

  &__photo-input {
    display: none;
  }

  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $fs-purple;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #2D333A;
    border: 1px solid #C2C8D0;
    border-radius: 4px;
    padding: 15px 16px;
    // min-width: 420px;

    &:focus {
      outline-color: #7C48EE;
    }
  }

  &__buttons {
    // margin-top: 20px;
    margin: 20px auto 0;
    &-delete,
    &-save {
      border: 1px solid $fs-purple;
      border-radius: 4px;
      color: $fs-purple;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding: 10px;
      width: 140px;
      cursor: pointer;
      transition: all .5s;
      &:hover {
        background-color: $bg-purple;
        color: $fs-white;
      }
    }
  }
}

//_________MEDIA________

@media(max-width:1100px) {

}

@media(max-width:900px) {

}

@media(max-width:750px) {
  .content {
    margin: 0;
  }
}

@media(max-width:600px) {
  .main {
    margin: 30px 0;
  }
  .cabinet {
    &__photo {
      &-img {
        width: 150px;
        height: 150px;
      }
    }
    &__buttons {
      &-save,
      &-delete {
        width: 130px;
      }
    }
  }
}

@media(max-width:450px) {

}