@import 'vars';
@import 'global';

.main {
  margin: 30px 0 70px;
  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
}

//___________CONTENT________


.cabinet {
  margin: 0 auto;
  &__info,
  &__edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  &-label {
    cursor: pointer;
  }

  &-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #726f6f;
    object-fit: cover;
  }

  &-file {
    display: none;
  }

    &-list {
      max-width: 450px;
      width: 100%;
    }

    &-item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $fs-purple;
    margin-bottom: 10px;
  }

  &-input {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #2D333A;
    border: 1px solid #C2C8D0;
    border-radius: 4px;
    padding: 15px 16px;
    &:focus {
      outline-color: #7C48EE;
    }
  }

  &-buttons {
    margin: 20px auto 0;
  }
  &-button {
    border: 1px solid $fs-purple;
    border-radius: 4px;
    color: $fs-purple;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    transition: all .5s;
      &:hover {
        background-color: $bg-purple;
        color: $fs-white;
      }
    }
  }
  &__edit {
    display: none;
    // visibility: hidden;
  }
}

//_________MEDIA________

@media(max-width:1100px) {

}

@media(max-width:900px) {

}

@media(max-width:750px) {
  .main {
    padding-top: 190px;
    margin: 0 0 30px;
  }
  .content {
    margin: 0;
  }
}

@media(max-width:600px) {
  .cabinet {
    &__photo {
      &-img {
        width: 150px;
        height: 150px;
      }
    }
    &__buttons {
      &-save,
      &-delete {
        width: 130px;
      }
    }
  }
}

@media(max-width:550px) {
  .main {
    padding-top: 160px;
  }
}