.authentication {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.authentication__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #7C48EE;
  border-radius: 4px;
  margin: 0 15px;
  width: 540px;
}

.authentication__box {
  position: relative;
}
.authentication__box + .authentication__box {
  margin-top: 20px;
}
.authentication__box-input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #312D3A;
  border: 1px solid #C2C8D0;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.authentication__box-input:focus {
  border-color: #7C48EE;
}
.authentication__box-input:focus ~ .authentication__box-label {
  color: #7C48EE;
}
.authentication__box-input:focus ~ .authentication__box-label, .authentication__box-input:valid ~ .authentication__box-label {
  top: -10px;
  left: 15px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  padding: 3px 4px;
  background-color: #fff;
}
.authentication__box-label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #858585;
  pointer-events: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.authentication__box-span {
  color: #7C48EE;
}

.authentication__button {
  margin-top: 40px;
  padding: 13px 0;
  width: 100%;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #7C48EE;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}
.authentication__button:hover {
  color: #312D3A;
  background-color: #D9CC46;
}

.authentication__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.authentication__box-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
  color: #000;
}
.authentication__box-subtitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  text-align: center;
}

.authentication-input__error {
  border-color: #EA0000;
  color: #EA0000;
}

.authentication-btn__error {
  background-color: #C2C8D0;
  color: #fff;
}

.authentication__login {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 60px;
}
.authentication__login-img {
  margin-bottom: 60px;
}
.authentication__login-img img {
  width: 100%;
}
.authentication__login-forgot {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #7C48EE;
  width: 130px;
  margin-top: 20px;
}
.authentication__login-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  margin-top: 30px;
}
.authentication__login-text {
  color: #000;
}
.authentication__login-register {
  margin-left: 5px;
  color: #7C48EE;
}

.authentication__password {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 60px 60px 13px;
}
.authentication__password-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.authentication__password-box {
  margin: 75px 0 95px;
}
.authentication__password-button {
  max-width: 180px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.authentication__password-back {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7C48EE;
  margin-top: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.authentication__selection {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;