{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!--                <h1>{% trans "Sign In" %}</h1>-->

<!--{% get_providers as socialaccount_providers %}-->

<!--{% if socialaccount_providers %}-->
<!--<p>{% blocktrans with site.name as site_name %}Please sign in with one-->
<!--of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>-->
<!--for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>-->

<!--<div class="socialaccount_ballot">-->

<!--  <ul class="socialaccount_providers">-->
<!--    {% include "socialaccount/snippets/provider_list.html" with process="login" %}-->
<!--  </ul>-->

<!--  <div class="login-or">{% trans 'or' %}</div>-->

<!--</div>-->

<!--{% include "socialaccount/snippets/login_extra.html" %}-->

<!--{% else %}-->
<!--<p>{% blocktrans %}If you have not created an account yet, then please-->
<!--<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>-->
<!--{% endif %}-->
<head>
  <style>
    ul.errorlist {
      color: red;
      font-size: 1.1em;
      margin-bottom: 6px;
    }
  </style>
</head>
<main>

    <section class="authentication">
        <div class="authentication__body">
            <form class="authentication__login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="authentication__login-img">
                    <img src="{% static 'authentication/img/logo.png' %}" alt="logo">
                </div>

                <ul class="errorlist" >
        {% for key, value in form.errors.items %}
            <li>{% if key != '__all__' %}{{ key }} {% endif %}{{ value }}</li>
        {% endfor %}
                </ul>

                <div class="authentication__box">
                    {{ form.login }}
                    <label class="authentication__box-label">Username or e-mail</label>
                </div>
                <div class="authentication__box">
                    {{ form.password }}
                    <label class="authentication__box-label">Password</label>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                </div>
                <a id="authentication__login-forgot" class="authentication__login-forgot" type="button" href="{% url 'account_reset_password' %}">Forgot password?</a>
                <button id="authentication__login-button" class="authentication__button" type="submit">Log in</button>
                <div class="authentication__login-bottom">
                    <p class="authentication__login-text">Don’t have an account?</p>
                    <a id="authentication__login-registration" class="authentication__login-registration" type="button" href="{{ signup_url }}" style="margin-left: 6px; color: #7C48EE;">Registration</a>
                </div>
                
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </form>
        </div>
    </section>
</main>
{% endblock %}