{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<main><section class="authentication">
     <div class="authentication__body">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <form  method="POST" action="{% url 'account_reset_password' %}" class="authentication__login]" >
        <div class="authentication__password-img">
            <img src="{% static 'authentication/img/Castle.svg' %}" alt="Castle">
        </div>
        <div class="authentication__password-box authentication__box-titles">
        <h5 class="authentication__box-title">Forgot password?</h5>
            <p class="authentication__box-subtitle">Enter your email to receive a reset link</p>
        </div>
        {% csrf_token %}
        <div class="authentication__password-box authentication__box-titles">
        <div class="authentication__box">
            {{ form.email }}
            <label class="authentication__box-label">Your e-mail</label>
            </div>
        <button id="authentication__login-button" class="authentication__button authentication__password-button"  type="submit">Submit</button>
        <p><a href="{{ login_url }}"  class="authentication__password-back"  style="color: #7C48EE;">Back to Log In</a></p></div>
<!--        <button id="authentication__password-back" class="authentication__password-back" type="button"-->
<!--        <a href="{{ signup_url }}">Back to Log In</a></button>-->

    </form>
<!--    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>-->
</div>
</section>
</main>


        <form id="authentication__password" class="authentication__password" action="">
          <div class="authentication__password-img">
            <img src="./images/authentication/Castle.svg" alt="Castle">
          </div>
          <div class="authentication__password-box authentication__box-titles">
            <h5 class="authentication__box-title">Forgot password?</h5>
            <p class="authentication__box-subtitle">Enter your email to receive a reset link</p>
          </div>
          <div class="authentication__box">
            <input class="authentication__box-input" type="email" required="">
            <label class="authentication__box-label">Your e-mail</label>
          </div>
          <button class="authentication__button authentication__password-button" type="submit">Submit</button>
          <button id="authentication__password-back" class="authentication__password-back" >Back to Log In</button>
        </form>


{% endblock %}