//Colors fs

$fs-white: #fff;
$fs-black: #000;
$fs-dark: #312D3A;
$fs-purple: #7C48EE;
$fs-gray: #858585;

//Colors Bg

$bg-white: #fff;
$bg-yellow: #D9CC46;
$bg-gray: #C2C8D0;
$bg-purple: #7C48EE;

//Colors Border

$border-gray: #C2C8D0; 
$border-purple: #7C48EE; 