*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}
.page__item {
  margin-bottom: 10px;
  font-size: 18px;
}
.page__item:last-child {
  margin-bottom: 0;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #7C48EE;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 20px;
  position: relative;
}
.header__inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #C2C8D0;
}
.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header .nav__item-link {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  border: 1px solid #7C48EE;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
  border-radius: 2px;
  color: #7C48EE;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header .nav__item-link:hover {
  background-color: #7C48EE;
  color: #fff;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.header__box-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.header__box-link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.header__box-img {
  width: 35px;
  height: 35px;
}

.aside {
  width: 100%;
  max-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.aside__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 11px 18px;
  border: 1px solid #C2C8D0;
  border-radius: 4px 4px 0px 0px;
}
.aside__box-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #C2C8D0;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
}
.aside__box-item {
  padding: 11px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aside__box-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #312D3A;
}
.aside__box-money {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #85B7F0;
}
.aside__top-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #312D3A;
}
.aside__top-number {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #85B7F0;
  padding: 2px 8px;
  border: 1px solid #85B7F0;
  border-radius: 50%;
}
.aside__top-arrow {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aside__accordion-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 18px;
  border: 1px solid #C2C8D0;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.aside__accordion-list {
  border: 1px solid #C2C8D0;
  border-top: none;
  border-radius: 0px 0px 8px 8px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.aside__accordion-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1px;
}
.aside__accordion-link {
  padding: 14px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.aside__accordion-text {
  width: 30px;
}
.aside__accordion-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__accordion-label:hover .aside__accordion-check::before {
  border-color: #85B7F0;
}
.aside__accordion-check {
  position: relative;
  margin-right: 12px;
  cursor: pointer;
}
.aside__accordion-check::after {
  content: url(../images/invoices/check.svg);
  position: absolute;
  width: 13px;
  height: 14px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.aside__accordion-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #C2C8D0;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aside__accordion-check:checked::after {
  opacity: 1;
}
.aside__accordion-check:checked::before {
  background-color: #85B7F0;
}
.aside__accordion-select {
  border-color: #C2C8D0;
  border-radius: 4px;
  padding: 3px 0;
  background-color: #fff;
  outline: 0;
}
.aside__accordion-select::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
.aside__accordion-select::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C2C8D0;
}
.aside__accordion-btn {
  padding: 13px 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  background-color: #7C48EE;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aside__accordion-btn:hover {
  background-color: #fff;
  border-color: #7C48EE;
  color: #7C48EE;
}

.accordion__top--active {
  border-color: #85B7F0;
}

.accordion__list--active {
  max-height: 100%;
  border-color: #85B7F0;
}

.accordion__arrow--active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.burger {
  display: none;
}

.font--green {
  color: #0DA94F;
}

.font--red {
  color: #EA0000;
}

.font--yellow {
  color: #FBBC09;
}

.font--blue {
  color: #509CE9;
}

.font--dark {
  color: #312D3A;
}

.font--gray {
  color: #C2C8D0;
}

.font--pink {
  color: #FFBAF8;
}

@media (max-width: 1000px) {
  .header .nav__item-link {
    width: 85px;
  }
  .title {
    font-size: 30px;
    line-height: 120%;
  }
  .aside {
    max-width: 265px;
  }
}
@media (max-width: 800px) {
  .header__inner {
    padding: 20px 0;
  }
  .header .nav__item-link {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
  }
}
@media (max-width: 750px) {
  .header__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__box {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .nav {
    margin-top: 10px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2/1/3/4;
  }
  .header .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav__item-link {
    width: 100px;
  }
  .burger {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    display: block;
    margin-top: 10px;
    z-index: 15;
    width: 26px;
    cursor: pointer;
  }
  .burger::after, .burger::before {
    content: "";
    display: block;
    width: 25px;
    border: 2px solid #7C48EE;
    border-radius: 10px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .burger.burger--active span {
    display: none;
  }
  .burger.burger--active::after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #7C48EE;
  }
  .burger.burger--active::before {
    content: "";
    -webkit-transform: translateY(4px) rotate(45deg);
        -ms-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
    background-color: #7C48EE;
  }
  .burger-line {
    display: block;
    width: 25px;
    border: 2px solid #7C48EE;
    border-radius: 10px;
    margin: 4px 0;
  }
  .aside {
    padding: 0px 10px 10px;
    margin-top: 168px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 315px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    overflow: auto;
    background-color: #fff;
    z-index: 10;
  }
  .aside--active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .aside .mobile__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aside .mobile__box-text {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header .nav {
    margin-top: 10px;
  }
  .header .nav__item-link {
    width: 70px;
  }
  .header__box {
    gap: 2px;
  }
  .header__box-img {
    width: 30px;
    height: 30px;
  }
  .aside {
    margin-top: 144px;
  }
  .aside__accordion-date {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 10px;
  }
}
.main {
  margin: 30px 0 70px;
}
.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.cabinet {
  margin: 0 auto;
}
.cabinet__list {
  max-width: 450px;
  width: 100%;
}
.cabinet__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cabinet__photo-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.cabinet__photo-label {
  margin-right: 30px;
  cursor: pointer;
}
.cabinet__photo-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #726f6f;
  -o-object-fit: cover;
     object-fit: cover;
}
.cabinet__photo-input {
  display: none;
}
.cabinet__item {
  width: 100%;
}
.cabinet__item:not(:last-child) {
  margin-bottom: 20px;
}
.cabinet__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #7C48EE;
  margin-bottom: 10px;
}
.cabinet__input {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #2D333A;
  border: 1px solid #C2C8D0;
  border-radius: 4px;
  padding: 15px 16px;
}
.cabinet__input:focus {
  outline-color: #7C48EE;
}
.cabinet__buttons {
  margin: 20px auto 0;
}
.cabinet__buttons-delete, .cabinet__buttons-save {
  border: 1px solid #7C48EE;
  border-radius: 4px;
  color: #7C48EE;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  width: 140px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.cabinet__buttons-delete:hover, .cabinet__buttons-save:hover {
  background-color: #7C48EE;
  color: #fff;
}

@media (max-width: 750px) {
  .content {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .main {
    margin: 30px 0;
  }
  .cabinet__photo-img {
    width: 150px;
    height: 150px;
  }
  .cabinet__buttons-save, .cabinet__buttons-delete {
    width: 130px;
  }
}